@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@using (Html.BeginForm("Index","Home",FormMethod.Get,new {@class="w-75"})){
    <div class="input-group" style="width:60%; float:right;">
  <input class="form-control" type="search" name="search" id="search" placeholder="Search Place, City or State" aria-label="search"/>
  <button type="submit" value="submit" class="input-group-text" id="basic-addon2">Search</button>
</div>
}
